{% load tailwind_tags %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>{% block title %}Home{% endblock title %}</title>
    {% tailwind_css %} {% block css %}{% endblock css %}
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body id='body'>

  
    
    <!-- Messenger Chat plugin Code -->
    {% comment %} <div id="fb-root"></div>

    <!-- Your Chat plugin code -->
    <div id="fb-customer-chat" class="fb-customerchat"></div>

    <script>
      var chatbox = document.getElementById("fb-customer-chat");
      chatbox.setAttribute("page_id", "105826231546810");
      chatbox.setAttribute("attribution", "biz_inbox");
    </script>

    <!-- Your SDK code -->
    <script>
      window.fbAsyncInit = function () {
        FB.init({
          xfbml: true,
          version: "v14.0",
        });
      };

      (function (d, s, id) {
        var js,
          fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js";
        fjs.parentNode.insertBefore(js, fjs);
      })(document, "script", "facebook-jssdk");
    </script> {% endcomment %}
    

    {% comment %} Wraped whole code into below {% endcomment %}
    {% block content %}{% endblock content %}
   {% comment %}  <script>
      let spinner = document.getElementById('spinner')
      let data = document.getElementById('data')
      $.ajax({
        type:'GET',
        url:'/',
        success:function(res){
          setTimeout(()=>{
            spinner.classList.add('no-display')
          },500)
        }
        error:function(er){
          console.log('error')
        }
      })
    </script> {% endcomment %}
    {% comment %} All static file here {% endcomment %}
    <script src="{% static 'js/home.js'%}"></script>
    <script src="{% static 'js/navtop.js'%}"></script>
  </body>
</html>
