{% extends 'exchange/base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{%static 'css/dashboard.css'%}" />
{% endblock css %} 
{% block title %}Change password{% endblock title %}
{% block content %} {% include 'exchange/dashboardnav.html'%}
<main role="main">
  <section class="panel important flex justify-between">
    <form action="" method="POST">
      {% csrf_token %} {% if form.non_field_errors %} 
      {% for error in form.non_field_errors %} {{error}} {% endfor %} {% endif %} 
      {% for fm in form %}
      <h1>{{fm.label_tag}} {{fm}} {{fm.erros|striptags}}</h1>
      <br />
      {% endfor %}
      <input type="submit" value="Submit" />
    </form>
    {% comment %} <span><a href="{%url '/'%}">Login</a></span> {% endcomment %}
  </section>
</main>

{% endblock content %}
