{% extends 'exchange/base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{%static 'css/dashboard.css'%}" />
{% endblock css %} {% block content %} {% include 'exchange/dashboardnav.html'%}



<main role="main">
    <section class="panel important flex justify-between">
      <div class="bg-white rounded shadow border p-6 w-64">
        <h5 class="text-3xl font-bold mb-4 mt-0">Bkash</h5>
        <p class="text-gray-700 text-sm">Content goes here</p>
      </div><div class="bg-white rounded shadow border p-6 w-64">
        <h5 class="text-3xl font-bold mb-4 mt-0">Nogod</h5>
        <p class="text-gray-700 text-sm">Content goes here</p>
      </div><div class="bg-white rounded shadow border p-6 w-64">
        <h5 class="text-3xl font-bold mb-4 mt-0">Rocket</h5>
        <p class="text-gray-700 text-sm">Content goes here</p>
      </div><div class="bg-white rounded shadow border p-6 w-64">
        <h5 class="text-3xl font-bold mb-4 mt-0">Upay</h5>
        <p class="text-gray-700 text-sm">Content goes here</p>
      </div>
    </section>
    
  </main>


  

{% endblock content %}
