{% extends 'exchange/base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{%static 'css/dashboard.css'%}" />
{% endblock css %} {% block title %}Dashboard{% endblock title %} 
{% block content %} {% include 'exchange/dashboardnav.html'%}

<style>
  label {
    color: red;
  }
</style>

<main role="main">
  <h1 class="text-4xl flex items-center justify-center font-semibold">We served Payment</h1>
  <section class="panel important flex justify-between">
    <div class="bg-white rounded shadow border p-6 w-64">
      <img src="https://i.ibb.co/nz2kyxZ/index.png" alt="" />
    </div>
    <div class="bg-white rounded shadow border p-6 w-64">
      <img
        src="
        https://i.ibb.co/1TzwwQF/nagad.png"
        alt=""
      />
    </div>
    <div class="bg-white rounded shadow border p-6 w-64">
      <img
        src="
        https://i.ibb.co/1TzwwQF/nagad.png"
        alt=""
      />
    </div>
    <div class="bg-white rounded shadow border p-6 w-64">
      <img
        src="
        https://i.ibb.co/1TzwwQF/nagad.png"
        alt=""
      />
    </div>
  </section>
</main>

{% endblock content %}
