{% extends 'exchange/base.html' %} {% block content %}

<html>
  <head>
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap"
      rel="stylesheet"
    />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=1"
    />
    <style>
      body {
        font-family: "Inter", sans-serif;
      }
    </style>

    <!-- alpine.js is used for handling toggle of navbar on mobile screens, switch it with your own front end framework
    if needed -->
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js"
      defer
    ></script>
  </head>

  <body>
    <div class="py-2 bg-gray-100 text-gray-900 min-h-screen">
      <main>
        {% include 'exchange/customnavbar.html' %}
        {% comment %} {% endcomment %}

        <div
          class="px-5 sm:px-10 md:px-20 lg:px-10 xl:px-20 py-8 bg-indigo-100"
          id="features"
        >
          <div class="max-w-screen-xl mx-auto">
            <h3 class="leading-none font-black text-3xl">Services</h3>

            <div
              class="flex flex-col items-center flex-wrap lg:flex-row lg:items-stretch lg:flex-no-wrap lg:justify-between"
            >
              <div
                class="w-full max-w-sm mt-6 lg:mt-8 bg-gray-100 rounded shadow-lg p-12 lg:p-8 lg:mx-4 xl:p-12"
              >
                <div class="p-4 inline-block bg-indigo-200 rounded-lg">
                  <svg
                    class="text-indigo-500 w-8"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <circle cx="12" cy="12" r="10" />
                    <path d="M8 14s1.5 2 4 2 4-2 4-2" />
                    <line x1="9" y1="9" x2="9.01" y2="9" />
                    <line x1="15" y1="9" x2="15.01" y2="9" />
                  </svg>
                </div>
                <div class="mt-4 font-extrabold text-2xl tracking-wide">
                  Amazing People
                </div>
                <div class="text-sm">
                  We guarantee that every designer you ever work with will be an
                  awesome member for your team. We conduct personal interview
                  with every designer to ensure that we only get the best.
                </div>
              </div>

              <div
                class="w-full max-w-sm mt-8 bg-gray-100 rounded shadow-lg p-12 lg:p-8 lg:mx-4 xl:p-12"
              >
                <div class="p-4 inline-block bg-green-200 rounded-lg">
                  <svg
                    class="text-green-500 w-8"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <line x1="12" y1="1" x2="12" y2="23" />
                    <path
                      d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"
                    />
                  </svg>
                </div>
                <div class="mt-4 font-extrabold text-2xl tracking-wide">
                  Best Rates
                </div>
                <div class="text-sm">
                  Be assured that you will always get the best rates. We
                  continously monitor global freelance wage trends to ensure
                  that no one is under or overpaid.
                </div>
              </div>

              <div
                class="w-full max-w-sm mt-8 bg-gray-100 rounded shadow-lg p-12 lg:p-8 lg:mx-4 xl:p-12"
              >
                <div class="p-4 inline-block bg-red-200 rounded-lg">
                  <svg
                    class="text-red-500 w-8"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path
                      xmlns="http://www.w3.org/2000/svg"
                      d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z"
                    />
                    <line
                      xmlns="http://www.w3.org/2000/svg"
                      x1="12"
                      y1="9"
                      x2="12"
                      y2="13"
                    />
                    <line
                      xmlns="http://www.w3.org/2000/svg"
                      x1="12"
                      y1="17"
                      x2="12.01"
                      y2="17"
                    />
                  </svg>
                </div>
                <div class="mt-4 font-extrabold text-2xl tracking-wide">
                  Abuse Protection
                </div>
                <div class="text-sm">
                  Money is held by us in escrow subject to project completion.
                  If there is any dispute, a customer service representative
                  will manually review the case and take appropriate action.
                </div>
              </div>
            </div>
          </div>
        </div>
        <section
          class="header relative items-center flex h-screen my-32 md:py-16 md:my-0"
          style="max-height: 860px"
        >
          <div class="container mx-auto px-4 my-16">
            <div class="items-center flex flex-col md:flex-row-reverse">
              <div class="w-full md:w-5/12 px-4 mr-auto ml-auto my-16 md:my-0">
                <img
                  alt="..."
                  class="max-w-full rounded-lg"
                  src="https://favr-images.s3.us-east-2.amazonaws.com/branding/image.png"
                />
              </div>
              <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-8">
                <div class="pt-0 md:pt-32">
                  <h2 class="font-semibold text-4xl text-gray-700">
                    FAVR: Get Your Chores Done
                  </h2>
                 
                  <div class="mt-24">
                    <div class="flex flex-wrap">
                      <div class="w-6/12 md:w-5/12 p-1">
                        <a
                          href="https://play.google.com/store/apps/details?id=com.favrofficial.favr"
                          target="_blank"
                        >
                          <img
                            src="https://i.ibb.co/XFkW3tz/download.jpg
                            "
                            alt="..."
                            class="shadow   h-20 rounded-2xl align-middle border-none max-w-xs"
                          />
                        </a>
                      </div>
                      <div class="w-6/12 md:w-5/12 p-1">
                        <a
                          href="https://itunes.apple.com/us/app/favr-get-things-done/id1449477383?mt=8"
                          target="_blank"
                        >
                          <img
                            src="https://i.ibb.co/grqcgwW/download.png"
                            alt="Android app"
                            class="shadow   h-20 rounded-2xl align-middle border-none max-w-xs"
                          />
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section
          class="header relative items-center flex h-screen my-32 md:py-16 md:my-0"
          style="max-height: 860px"
        >
          <div class="container mx-auto px-4 my-16">
            <div class="items-center flex flex-col md:flex-row-reverse">
              <div class="w-full md:w-6/12 px-4 mr-auto ml-auto">
                <div class="pt-0 md:pt-32">
                  <h2 class="font-semibold text-4xl text-gray-700">
                    FAVR: Get Your Chores Done
                  </h2>
                  
                  <div class="mt-12">
                   
                  </div>
                </div>
              </div>
              <div class="w-full md:w-5/12 px-4 mr-auto ml-auto my-16 md:my-0">
                
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/gz6B9al_D3Q"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </section>

        <div
          class="px-5 sm:px-10 md:px-20 lg:px-10 xl:px-20 py-8 bg-gray-100"
          id="cards"
        >
          <div class="max-w-screen-xl mx-auto">
            <h3 class="leading-none font-black text-3xl">Payment Reviews</h3>

            <div class="lg:flex justify-between lg:mt-8">
              {% if reviews %}
              {% for review in reviews %}
              <div class="lg:mx-2 flex flex-col items-center">
                <div class="flex-1 flex w-full max-w-sm pt-16 lg:pt-0">
                  <div
                    class="w-full p-8 sm:p-12 lg:px-8 xl:px-12 shadow-lg rounded bg-gray-100 relative"
                  >
                    <div>
                      <div class=" flex items-center">
                        <div
                          class="w-16 h-16 bg-cover rounded-full border-2 border-gray-700"
                          alt=""
                          style="
                            background-image: url('https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=256&q=80');
                          "
                        ></div>
                        <div class="ml-4">
                          <div class="font-bold text-gray-800">{{review.name}}</div>
                          <div class="text-xs text-gray-500">
                          {{review.date}}
                          </div>
                        </div>
                      </div>
                      <div class=" text-xs mt-10">
                        <p>{{review.info}}</p>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>

        <div
          class="px-5 sm:px-10 md:px-20 lg:px-10 xl:px-20 py-12 bg-indigo-100 "
          id="blog-posts"
        >
          <div class="max-w-screen-xl mx-auto">
            <div class="xl:flex">
              <div>
                <h3 class="leading-none font-black text-3xl">Popular Posts</h3>
                <div
                  class="flex flex-col items-center lg:flex-row lg:items-stretch lg:justify-around"
                >
                  {% if blogs %} {% for blog in blogs %}
                  <a
                    href="{% url 'blog_detail' blog.id %}"
                    class="flex w-full max-w-sm mt-6 lg:mt-8 xl:mr-8"
                  >
                    <div
                      class="transition-all duration-300 cursor-pointer w-full shadow-lg hover:shadow-xl rounded-lg bg-gray-100 relative"
                    >
                      <div
                        class="w-full h-48 bg-cover rounded-t-lg"
                        style="
                          background-image: url('https://images.unsplash.com/photo-1572044162444-ad60f128bdea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=768&q=80');
                        "
                      ></div>
                      <div class="p-6">
                        <div class="text-lg font-bold">{{blog.title}}</div>
                        <div class="mt-2 text-gray-900 text-sm">
                          {{blog.info|truncatewords:"15" }}
                        </div>
                      </div>
                    </div>
                  </a>
                  {% endfor %} {% endif %}
                </div>
              </div>

              <div class="mt-12 xl:mt-0 xl:ml-8">
                <h3 class="leading-none font-black text-3xl">Recent Posts</h3>
                <div
                  class="flex flex-col items-center lg:flex-row lg:items-stretch lg:justify-around xl:flex-col"
                >{% if blogs %} {% for blog in blogs %}
                <a
                  href="{% url 'blog_detail' blog.id %}"
                    class="flex w-full max-w-sm mt-6 lg:mt-8"
                  >
                    <div
                      class="transition-all duration-300 cursor-pointer w-full shadow-lg hover:shadow-xl rounded-lg bg-gray-100 relative xl:flex xl:flex-row-reverse xl:items-center xl:px-6 xl:py-8"
                    >
                      <div
                        class="w-full h-48 bg-cover rounded-t-lg xl:w-32 xl:h-20 xl:rounded-lg xl:ml-2"
                        style="
                          background-image: url('https://images.unsplash.com/photo-1452830978618-d6feae7d0ffa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=512&q=80');
                        "
                      ></div>
                      <div class="p-6 xl:p-0">
                        <div class="text-lg font-bold">
                          {{blog.title}}
                        </div>
                        
                      </div>
                    </div>
                  </a>
                  {% endfor %} {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>

      <footer class="relative bg-white pt-8 pb-6">
        <div
          class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
          style="height: 80px; transform: translateZ(0px)"
        >
          <svg
            class="absolute bottom-0 overflow-hidden"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="none"
            version="1.1"
            viewBox="0 0 2560 100"
            x="0"
            y="0"
          >
            <polygon
              class="text-white fill-current"
              points="2560 0 2560 100 0 100"
            ></polygon>
          </svg>
        </div>
        <div class="container mx-auto px-4">
          <div class="flex flex-wrap">
            <div class="w-full md:w-4/12 px-4">
              <h4 class="text-3xl font-semibold">Download the app</h4>
              
              <div class="flex flex-wrap justify-evenly ">
                <div class="w-1/2 md:w-4/12 p-1">
                  <a
                    href="https://play.google.com/store/apps/details?id=com.favrofficial.favr"
                    target="_blank"
                  >
                  <img
                  src="https://i.ibb.co/grqcgwW/download.png"
                  alt="Android app"
                  class="shadow   h-20 rounded-2xl align-middle border-none max-w-xs"
                />
                  </a>
                </div>
                
                <div class="w-1/2 md:w-4/12 p-1">
                  <a href="https://m.askfavr.com/" target="_blank">
                    <img
                            src="https://i.ibb.co/XFkW3tz/download.jpg
                            "
                            alt="..."
                            class="shadow   h-20 rounded-2xl align-middle border-none max-w-xs"
                          />
                  </a>
                </div>
              </div>
            </div>
            <div class="w-full md:w-8/12 px-4">
              <div class="flex flex-wrap items-top mb-6">
                <div
                  class="w-full md:w-6/12 xl:w-4/12 pt-6 md:pt-0 md:px-4 ml-auto"
                >
                  <span
                    class="block uppercase text-gray-600 text-sm font-semibold mb-2"
                  >
                  Payment Method
                  </span>
                  <ul class="list-unstyled">
                    <li>
                      <a
                        class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                        href="/about"
                      >
                        Bkash
                      </a>
                    </li>
                    <li>
                      <a
                        class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                        href="#"
                        target="_blank"
                      >
                        Nagad
                      </a>
                    </li>
                    <li>
                      <a
                        class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                        href="#"
                        target="_blank"
                      >
                        Rocket
                      </a>
                    </li>
                    <li>
                      <a
                        class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                        href="#"
                        target="_blank"
                      >
                        Upay
                      </a>
                    </li>
                  </ul>
                </div>
                <div
                  class="w-full md:w-6/12 xl:w-4/12 pt-6 md:pt-0 md:px-4 ml-auto"
                >
                  <span
                    class="block uppercase text-gray-600 text-sm font-semibold mb-2"
                  >
                    Blogs
                  </span>
                  <ul class="list-unstyled">
                    <li>
                      <a
                        class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                        href="/services"
                        target="_blank"
                      >
                        Technology
                      </a>
                    </li>
                    <li>
                      <a
                        class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                        href="#"
                        target="_blank"
                      >
                      Educations
                      </a>
                    </li>
                    <li>
                      <a
                        class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                        href="/start-a-fundraiser"
                        target="_blank"
                      >
                        Web developing
                      </a>
                    </li>
                    <li>
                      <a
                        class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                        href="#"
                        target="_blank"
                      >
                        App developing
                      </a>
                    </li>
                    
                  </ul>
                </div>
                <div
                  class="w-full md:w-6/12 xl:w-4/12 pt-6 md:pt-0 md:px-4 ml-auto"
                >
                  <span
                    class="block uppercase text-gray-600 text-sm font-semibold mb-2"
                  >
                    Resouces
                  </span>
                  <ul class="list-unstyled">
                    <li>
                      <a
                        class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                        href="#"
                        target="_blank"
                      >
                        Terms of Service
                      </a>
                    </li>
                    <li>
                      <a
                        class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                        href="#"
                        target="_blank"
                      >
                        Privacy Policy
                      </a>
                    </li>
                    <li>
                      <a
                        class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                        href="#"
                        target="_blank"
                      >
                        Help & Support
                      </a>
                    </li>
                    <li>
                      <a
                        class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                        href="#"
                        target="_blank"
                      >
                        FAQ
                      </a>
                    </li>
                    <li>
                      <a
                        class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                        href="#"
                        target="_blank"
                      >
                        Sitemap
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <hr class="my-6 border-gray-400" />
          <div
            class="flex flex-wrap items-center md:justify-between justify-center"
          >
            <div class="w-full md:w-4/12 px-4 mx-auto text-center">
              <div class="mt-6">
                <a href="https://twitter.com/askfavr?lang=en" target="_blank">
                  <i
                    class="fab fa-twitter bg-white text-blue-400 shadow-lg font-lg p-3 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 inline-block text-center"
                  ></i>
                </a>
                <a href="https://www.facebook.com/askfavr/" target="_blank">
                  <i
                    class="fab fa-facebook-square bg-white text-blue-600 shadow-lg font-lg p-3 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 inline-block text-center"
                  ></i>
                </a>
                <a href="https://instagram.com/askfavr" target="_blank">
                  <i
                    class="fab fa-instagram bg-white text-purple-600 shadow-lg font-lg p-3 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 inline-block text-center"
                  ></i>
                </a>
                <a
                  href="https://www.linkedin.com/company/askfavr/?viewAsMember=true"
                  target="_blank"
                >
                  <i
                    class="fab fa-linkedin bg-white text-blue-700 shadow-lg font-lg p-3 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 inline-block text-center"
                  ></i>
                </a>
              </div>
              <div class="text-sm text-gray-600 font-semibold py-1">
                Copyright © 2022 Alpha Exchange 
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>

{% endblock %}
