{% extends 'exchange/base.html' %}{% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/manage.css' %}" />
{% endblock css %} {% block title %}Manage users{% endblock title %} 
{% block content %} {% include 'exchange/dashboardnav.html' %}

<main role="main">
  <section class="panel important flex justify-between">
    <div class="container">
      <div class="row row--top-40">
        <div class="col-md-12">
          <h2 class="row__title text-4xl" data-column="Progress">
            <p class="status--blue status">Bkash Orders {{bkash.count}}</p>
          </h2>
        </div>
      </div>
      <div class="row row--top-20">
        <div class="col-md-12">
          <div class="table-container">
            <table class="table">
              <thead class="table__thead">
                <tr>
                  <th class="table__th">Name</th>
                  <th class="table__th">Email</th>
                  <th class="table__th">Send method</th>
                  <th class="table__th">Receive method</th>
                  <th class="table__th">Send amount</th>
                  <th class="table__th">Receive amount</th>
                  <th class="table__th">Send number</th>
                  <th class="table__th">Receive number</th>
                  <th class="table__th">Actions</th>
                  <th class="table__th"></th>
                </tr>
              </thead>
              <tbody class="table__tbody">
                {% if bkash %} {% for bks in bkash %}
                <tr class="table-row table-row--chris">
                  <td data-column="Name" class="table-row__td">
                    <div class="">
                      <p class="table-row__policy">{{bks.name}}</p>
                    </div>
                  </td>
                  <td data-column="Email" class="table-row__td">
                    <div class="">
                      <p class="table-row__policy">{{bks.email}}</p>
                    </div>
                  </td>
                  <td data-column="Send Method" class="table-row__td">
                    <p class="table-row__p-status status--green status">
                      {{bks.send_method}}
                    </p>
                  </td>
                  <td data-column="Receive Method" class="table-row__td">
                    <p class="table-row__progress status--blue status">
                      {{bks.receive_method}}
                    </p>
                  </td>
                  <td data-column="Send Amount" class="table-row__td">
                    <p class="table-row__status status--green status">
                      {{bks.send_amount}}
                    </p>
                  </td>
                  <td data-column="Receive Amount" class="table-row__td">
                    <p class="table-row__progress status--blue status">
                      {{bks.receive_amount}}
                    </p>
                  </td>
                  <td data-column="Sent Number" class="table-row__td">
                    <p class="table-row__p-status status--green status">
                      {{bks.send_number}}
                    </p>
                  </td>
                  <td data-column="Receive Number" class="table-row__td">
                    <p class="table-row__progress status--blue status">
                      {{bks.receive_number}}
                    </p>
                  </td>
                  <td data-column="Policy Status" class="table-row__td">
                    <a href="{% url 'update_order' bks.id %}"
                      ><button
                        class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-green-600 py-2 px-4 border border-blue-500 hover:border-transparent rounded"
                      >
                        Make paid
                      </button></a
                    >
                  </td>
                </tr>
                {% endfor %} 
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% comment %} Nagad Orders {% endcomment %}

  <section class="panel important flex justify-between">
    <div class="container">
      <div class="row row--top-40">
        <div class="col-md-12">
          <h2 class="row__title text-4xl" data-column="Progress">
            <p class="status--blue status">Nagad Orders {{nagad.count}} </p>
          </h2>
        </div>
      </div>
      <div class="row row--top-20">
        <div class="col-md-12">
          <div class="table-container">
            <table class="table">
              <thead class="table__thead">
                <tr>
                  <th class="table__th">Name</th>
                  <th class="table__th">Email</th>
                  <th class="table__th">Send method</th>
                  <th class="table__th">Receive method</th>
                  <th class="table__th">Send amount</th>
                  <th class="table__th">Receive amount</th>
                  <th class="table__th">Send number</th>
                  <th class="table__th">Receive number</th>
                  <th class="table__th">Actions</th>
                  <th class="table__th"></th>
                </tr>
              </thead>
              <tbody class="table__tbody">
                {% if nagad %} {% for bks in nagad %}
                <tr class="table-row table-row--chris">
                  <td data-column="Name" class="table-row__td">
                    <div class="">
                      <p class="table-row__policy">{{bks.name}}</p>
                    </div>
                  </td>
                  <td data-column="Email" class="table-row__td">
                    <div class="">
                      <p class="table-row__policy">{{bks.email}}</p>
                    </div>
                  </td>
                  <td data-column="Send Method" class="table-row__td">
                    <p class="table-row__p-status status--green status">
                      {{bks.send_method}}
                    </p>
                  </td>
                  <td data-column="Receive Method" class="table-row__td">
                    <p class="table-row__progress status--blue status">
                      {{bks.receive_method}}
                    </p>
                  </td>
                  <td data-column="Send Amount" class="table-row__td">
                    <p class="table-row__status status--green status">
                      {{bks.send_amount}}
                    </p>
                  </td>
                  <td data-column="Receive Amount" class="table-row__td">
                    <p class="table-row__progress status--blue status">
                      {{bks.receive_amount}}
                    </p>
                  </td>
                  <td data-column="Sent Number" class="table-row__td">
                    <p class="table-row__p-status status--green status">
                      {{bks.send_number}}
                    </p>
                  </td>
                  <td data-column="Receive Number" class="table-row__td">
                    <p class="table-row__progress status--blue status">
                      {{bks.receive_number}}
                    </p>
                  </td>
                  <td data-column="Policy Status" class="table-row__td">
                    <a href="{% url 'update_order' bks.id %}"
                      ><button
                        class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-green-600 py-2 px-4 border border-blue-500 hover:border-transparent rounded"
                      >
                        Make paid
                      </button></a
                    >
                  </td>
                </tr>
                {% endfor %} 
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% comment %} Rocekt Orders {% endcomment %}
  <section class="panel important flex justify-between">
    <div class="container">
      <div class="row row--top-40">
        <div class="col-md-12">
          <h2 class="row__title text-4xl" data-column="Progress">
            <p class="status--blue status">Rocket Orders {{rocket.count}} </p>
          </h2>
        </div>
      </div>
      <div class="row row--top-20">
        <div class="col-md-12">
          <div class="table-container">
            <table class="table">
              <thead class="table__thead">
                <tr>
                  <th class="table__th">Name</th>
                  <th class="table__th">Email</th>
                  <th class="table__th">Send method</th>
                  <th class="table__th">Receive method</th>
                  <th class="table__th">Send amount</th>
                  <th class="table__th">Receive amount</th>
                  <th class="table__th">Send number</th>
                  <th class="table__th">Receive number</th>
                  <th class="table__th">Actions</th>
                  <th class="table__th"></th>
                </tr>
              </thead>
              <tbody class="table__tbody">
                {% if rocket %} {% for bks in rocket %}
                <tr class="table-row table-row--chris">
                  <td data-column="Name" class="table-row__td">
                    <div class="">
                      <p class="table-row__policy">{{bks.name}}</p>
                    </div>
                  </td>
                  <td data-column="Email" class="table-row__td">
                    <div class="">
                      <p class="table-row__policy">{{bks.email}}</p>
                    </div>
                  </td>
                  <td data-column="Send Method" class="table-row__td">
                    <p class="table-row__p-status status--green status">
                      {{bks.send_method}}
                    </p>
                  </td>
                  <td data-column="Receive Method" class="table-row__td">
                    <p class="table-row__progress status--blue status">
                      {{bks.receive_method}}
                    </p>
                  </td>
                  <td data-column="Send Amount" class="table-row__td">
                    <p class="table-row__status status--green status">
                      {{bks.send_amount}}
                    </p>
                  </td>
                  <td data-column="Receive Amount" class="table-row__td">
                    <p class="table-row__progress status--blue status">
                      {{bks.receive_amount}}
                    </p>
                  </td>
                  <td data-column="Sent Number" class="table-row__td">
                    <p class="table-row__p-status status--green status">
                      {{bks.send_number}}
                    </p>
                  </td>
                  <td data-column="Receive Number" class="table-row__td">
                    <p class="table-row__progress status--blue status">
                      {{bks.receive_number}}
                    </p>
                  </td>
                  <td data-column="Policy Status" class="table-row__td">
                    <a href="{% url 'update_order' bks.id %}"
                      ><button
                        class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-green-600 py-2 px-4 border border-blue-500 hover:border-transparent rounded"
                      >
                        Make paid
                      </button></a
                    >
                  </td>
                </tr>
                {% endfor %} 
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% comment %} Upay orders {% endcomment %}
  <section class="panel important flex justify-between">
    <div class="container">
      <div class="row row--top-40">
        <div class="col-md-12">
          <h2 class="row__title text-4xl" data-column="Progress">
            <p class="status--blue status">Upay Orders {{upay.count}} </p>
          </h2>
        </div>
      </div>
      <div class="row row--top-20">
        <div class="col-md-12">
          <div class="table-container">
            <table class="table">
              <thead class="table__thead">
                <tr>
                  <th class="table__th">Name</th>
                  <th class="table__th">Email</th>
                  <th class="table__th">Send method</th>
                  <th class="table__th">Receive method</th>
                  <th class="table__th">Send amount</th>
                  <th class="table__th">Receive amount</th>
                  <th class="table__th">Send number</th>
                  <th class="table__th">Receive number</th>
                  <th class="table__th">Actions</th>
                  <th class="table__th"></th>
                </tr>
              </thead>
              <tbody class="table__tbody">
                {% if upay %} {% for bks in upay %}
                <tr class="table-row table-row--chris">
                  <td data-column="Name" class="table-row__td">
                    <div class="">
                      <p class="table-row__policy">{{bks.name}}</p>
                    </div>
                  </td>
                  <td data-column="Email" class="table-row__td">
                    <div class="">
                      <p class="table-row__policy">{{bks.email}}</p>
                    </div>
                  </td>
                  <td data-column="Send Method" class="table-row__td">
                    <p class="table-row__p-status status--green status">
                      {{bks.send_method}}
                    </p>
                  </td>
                  <td data-column="Receive Method" class="table-row__td">
                    <p class="table-row__progress status--blue status">
                      {{bks.receive_method}}
                    </p>
                  </td>
                  <td data-column="Send Amount" class="table-row__td">
                    <p class="table-row__status status--green status">
                      {{bks.send_amount}}
                    </p>
                  </td>
                  <td data-column="Receive Amount" class="table-row__td">
                    <p class="table-row__progress status--blue status">
                      {{bks.receive_amount}}
                    </p>
                  </td>
                  <td data-column="Sent Number" class="table-row__td">
                    <p class="table-row__p-status status--green status">
                      {{bks.send_number}}
                    </p>
                  </td>
                  <td data-column="Receive Number" class="table-row__td">
                    <p class="table-row__progress status--blue status">
                      {{bks.receive_number}}
                    </p>
                  </td>
                  <td data-column="Policy Status" class="table-row__td">
                    <a href="{% url 'update_order' bks.id %}"
                      ><button
                        class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-green-600 py-2 px-4 border border-blue-500 hover:border-transparent rounded"
                      >
                        Make paid
                      </button></a
                    >
                  </td>
                </tr>
                {% endfor %} 
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="panel important flex justify-between">
    <div class="container">
      <div class="row row--top-40">
        <div class="col-md-12">
          <h2 class="row__title text-4xl" data-column="Progress">
            <p class="status--blue status">Visa Master Orders {{vm.count}}</p>
          </h2>
        </div>
      </div>
      <div class="row row--top-20">
        <div class="col-md-12">
          <div class="table-container">
            <table class="table">
              <thead class="table__thead">
                <tr>
                  <th class="table__th">Name</th>
                  <th class="table__th">Email</th>
                  <th class="table__th">Send method</th>
                  <th class="table__th">Receive method</th>
                  <th class="table__th">Send amount</th>
                  <th class="table__th">Receive amount</th>
                  <th class="table__th">Send number</th>
                  <th class="table__th">Receive number</th>
                  <th class="table__th">Status</th>
                  <th class="table__th">Actions</th>
                  <th class="table__th"></th>
                </tr>
              </thead>
              <tbody class="table__tbody">
                {% if rocket %} {% for bks in rocket %}
                <tr class="table-row table-row--chris">
                  <td data-column="Name" class="table-row__td">
                    <div class="">
                      <p class="table-row__policy">{{bks.name}}</p>
                    </div>
                  </td>
                  <td data-column="Email" class="table-row__td">
                    <div class="">
                      <p class="table-row__policy">{{bks.email}}</p>
                    </div>
                  </td>
                  <td data-column="Send Method" class="table-row__td">
                    <p class="table-row__p-status status--green status">
                      {{bks.send_method}}
                    </p>
                  </td>
                  <td data-column="Receive Method" class="table-row__td">
                    <p class="table-row__progress status--blue status">
                      {{bks.receive_method}}
                    </p>
                  </td>
                  <td data-column="Send Amount" class="table-row__td">
                    <p class="table-row__status status--green status">
                      {{bks.send_amount}}
                    </p>
                  </td>
                  <td data-column="Receive Amount" class="table-row__td">
                    <p class="table-row__progress status--blue status">
                      {{bks.receive_amount}}
                    </p>
                  </td>
                  <td data-column="Sent Number" class="table-row__td">
                    <p class="table-row__p-status status--green status">
                      {{bks.send_number}}
                    </p>
                  </td>
                  <td data-column="Receive Number" class="table-row__td">
                    <p class="table-row__progress status--blue status">
                      {{bks.receive_number}}
                    </p>
                  </td>
                  <td data-column="Receive Number" class="table-row__td">
                    <p class="table-row__progress status--blue status">
                      {{bks.status}}
                    </p>
                  </td>
                  <td data-column="Policy Status" class="table-row__td">
                    <a href="{% url 'update_order' bks.id %}"
                      ><button
                        class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-green-600 py-2 px-4 border border-blue-500 hover:border-transparent rounded"
                      >
                        Make paid
                      </button></a
                    >
                  </td>
                </tr>
                {% endfor %} 
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock content %}
