{% extends 'exchange/base.html' %}{% load tailwind_tags %} {% load static %} 
{% tailwind_css %} {% load static %}{% block css %}
<link rel="stylesheet" href="{% static 'css/registerform.css' %}" />
{% endblock css %} {% block title %}Register form{% endblock title %} 
{% block content %}

<main class="main">
  <div class="container">
    <section class="wrapper">
      <div class="flex justify-between">
        <p></p>
        <a href="{% url 'home' %}"><p class="text-xl text-red-400">Back</p></a>
      </div>
      <form class="form" method="POST">
        {% csrf_token %}
        <div class="form-group">
          {% for fm in form %} {{fm.label_tag}} {{fm}} {% endfor %}
          <span class="input-check">
            <i class="fas fa-check-circle"></i>
            <i class="fas fa-exclamation-circle"></i>
          </span>
          <small class="input-alert"></small>
        </div>

        <div class="form-group">
          <input type="submit" class="input-submit" value="Send Request" />
        </div>
      </form>
    </section>
  </div>
</main>

{% endblock content %}
